

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b0f1ff; 
    color: #333; 
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.content {
    padding: 20px;
}