<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hakkımda</title>
</head>
<body>
    <header>
        <h1>Hakkımda</h1>
        <nav>
            <ul>
                <li><a href="index.html">Anasayfa</a></li>
                <li><a href="about.html">Hakkımda</a></li>
                <li><a href="register.html">Kayıt Ol</a></li>
            </ul>
        </nav>
    </header>
    <section class="content">
        <h2>Ben Kimim?</h2>
        <p>Merhaba, ben Emirhan Erdem Osmaniye Korkut Ata Üniversitesi 3. sınıf öğrencisiyim.</p>
    </section>
</body>
</html>
