<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
</head>
<body>
<script type="text/javascript">
    $(document).ready(function(){
        var socket = io.connect("http://12.0.550.1:5000/")
        socket.on('connect', function(){
            socket.send("user connected!");
        });

        socket.on('message', function(data) {
            $('#messages').append($('<p>').text(data));
        });
        $('#send').on('click',function(){
            socket.send($('#username').val() + ': ' + $('#message').val());
            $('message').val('');
        });
    })
</script>

<div id ="messages">

</div>
<input type="text" id="username" placeholder="Username">
<input type="text" id="message" placeholder="Message">
<button id="send">send</button>

</body>
</html>