<!DOCTYPE html>
<html>
<head>
    <title>İsteği Kontrol Et</title>
</head>
<body>
    <h1>{{ name }} adlı kullanıcı, {{ room_code }} kodlu odaya katılmak istiyor.</h1>
    <form method="POST" action="/katil_onay">
        <input type="hidden" name="name" value="{{ name }}">
        <input type="hidden" name="room_code" value="{{ room_code }}">
        <button type="submit" name="action" value="evet">Kabul Et</button>
        <button type="submit" name="action" value="hayir">Reddet</button>
    </form>
</body>
</html>
